.progress {
    margin-bottom: 180px;
}

@media (max-width: 1200px) {
    .progress {
        margin-bottom: 130px;
    }
}

@media (max-width: 992px) {
    .progress {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .progress {
        margin-bottom: 50px;
    }
}

.progress__container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .progress__container {
        flex-wrap: wrap;
        text-align: center;
    }
}

.progress__content {
    width: 68%;
    margin-right: 29px;
}

@media (max-width: 992px) {
    .progress__content {
        margin-right: unset;
        width: unset;
    }
}

.progress__hero {
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 1.3;
    color: var(--white);
    margin-bottom: 40px;
}

@media (max-width: 992px) {
    .progress__hero {
        width: 62%;
        font-size: 45px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    .progress__hero {
        width: unset;
    }
}

.progress__romb {
    display: flex;
    margin-bottom: 60px;
}

@media (max-width: 992px) {
    .progress__romb {
        justify-content: center;
        margin-bottom: 30px;
    }
}

.progress__romb-red {
    width: 10px;
    height: 10px;
    background-color: var(--red);
    transform: rotate(45deg);
    margin-right: 30px;
}

.progress__romb-red:last-child {
    margin-right: unset;
}

.progress__descr {
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 1px;
}

@media (max-width: 992px) {
    .progress__descr {
        font-size: 16px;
        line-height: 1.5;
        width: 58%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .progress__descr {
        width: unset;
    }
}

.progress__flex {
    display: flex;
}

@media (max-width: 992px) {
    .progress__flex {
        justify-content: center;
    }
}

@media (max-width: 585px) {
    .progress__flex {
        flex-wrap: wrap;
    }
}

.progress__list {
    display: flex;
    flex-direction: column;
}

@media (max-width: 992px) {
    .progress__list {
        width: 33%;
        margin-right: 20px;
    }
    .progress__list:last-child {
        margin-right: unset;
    }
}

@media (max-width: 768px) {
    .progress__list {
        width: 45%;
    }
}

.progress__list-pt {
    padding-top: 40px;
    margin-left: -1px;
}

@media (max-width: 992px) {
    .progress__list-pt {
        padding-top: unset;
        margin-left: unset;
    }
}

@media (max-width: 585px) {
    .progress__list {
        width: 100%;
        margin-right: unset;
    }
    .progress__list:first-child {
        margin-bottom: 20px;
    }
    .progress__list-pt {
        display: none;
    }
    .progress__list-active {
        display: block;
    }
}

.progress__item {
    text-align: center;
    padding: 35px 30px;
    border: 1px solid var(--white);
}

@media (max-width: 1200px) {
    .progress__item {
        padding: 20px 15px;
    }
}

@media (max-width: 992px) {
    .progress__item {
        padding: 25px 15px;
        width: 100%;
    }
}

.progress__list-hero {
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 5px;
    color: var(--red);
    margin-bottom: 20px;
}

.progress__list-hero-span {
    font-size: 24px;
}

.progress__list-descr {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--white);
    line-height: 1.5;
}

@media (max-width: 992px) {
    .progress__list-descr {
        font-size: 14px;
    }
}

.progress-img {
    margin-bottom: 26px;
}

.progress__btn {
    display: none;
    position: relative;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 20px;
    background: transparent;
    border: unset;
    color: var(--white);
}

@media (max-width: 585px) {
    .progress__btn {
        display: block;
    }
}

.progress__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 83px;
    height: 38px;
    background-color: var(--red);
    z-index: -1;
    transition: left .3s ease-in-out;
}

.progress__btn:hover::after {
    left: 81px;
}

.progress__btn-none {
    display: none;
}