.serv {
    margin-bottom: 180px;
}

@media (max-width: 1200px) {
    .serv {
        margin-bottom: 130px;
    }
}

@media (max-width: 992px) {
    .serv {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .serv {
        margin-bottom: 50px;
    }
}

.serv__container {
    text-align: center;
}

.serv__hero {
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 3px;
    color: var(--white);
    margin-bottom: 40px;
}

@media (max-width: 992px) {
    .serv__hero {
        font-size: 45px;
    }
}

@media (max-width: 768px) {
    .serv__hero {
        margin-bottom: 20px;
    }
}

.serv__romb {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

@media (max-width: 992px) {
    .serv__romb {
        margin-bottom: 30px;
    }
}

.serv__romb-red {
    width: 10px;
    height: 10px;
    background-color: var(--red);
    transform: rotate(45deg);
    margin-right: 30px;
}

.serv__romb-red:last-child {
    margin-right: unset;
}

.serv__btn-all {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

@media (max-width: 768px) {
    .serv__btn-all {
        margin-bottom: 50px;
    }
}

.serv__btn {
    position: relative;
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 500;
    padding: 10px 20px;
    color: var(--white);
    background: transparent;
    border: unset;
}

.serv__btn:first-child {
    margin-right: 100px;
}

@media (max-width: 992px) {
    .serv__btn {
        font-size: 18px;
    }
    .serv__btn:first-child {
        margin-right: 30px;
    }
}

.serv__btn-after::after {
    position: absolute;
    content: '';
    top: -1px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: var(--red);
    z-index: -1;
}

.serv__btn:before {
    position: absolute;
    content: '';
    top: 1px;
    right: 5px;
    bottom: 2px;
    left: -1px;
    outline: 1px solid var(--red);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.serv__btn:hover::before {
    opacity: 1;
}

.serv__btn:focus::before {
    opacity: 1;
}

.serv__list {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .serv__list {
        flex-wrap: wrap;
    }
}

.serv__list-active {
    flex-direction: row-reverse;
}

.serv__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--white);
    width: 23.5%;
    padding: 80px 10px 50px 10px;
}

@media (max-width: 992px) {
    .serv__item {
        width: 48.5%;
        padding: 50px 50px 40px 50px;
        margin-bottom: unset;
    }
    .serv__item:nth-child(-n+2) {
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    .serv__item {
        padding: 30px 20px 30px 20px;
    }
}

@media (max-width: 585px) {
    .serv__item {
        width: 100%;
    }
}

.serv__item-img {
    width: 50px;
    margin-bottom: 30px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb20 {
    margin-bottom: 20px;
}

.serv__item-hero {
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--white);
}

.serv__item-descr {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-bottom: 35px;
    color: var(--white);
    width: 64%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .serv__item-descr {
        width: 65%;
    }
}

@media (max-width: 768px) {
    .serv__item-descr {
        width: unset;
    }
}

.serv__item-btn {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 20px;
    background: transparent;
    border: unset;
    color: var(--white);
}

.serv__item-btn::after {
    position: absolute;
    content: '';
    top: -2px;
    left: -3px;
    width: 60px;
    height: 40px;
    background-color: var(--red);
    z-index: -1;
    transition: left .3s ease-in-out;
}

.serv__item-btn:hover::after {
    left: 51px;
}

.serv__item-btn:focus::after {
    left: 51px;
}