.footer {
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .footer {
        margin-bottom: 50px;
    }
}

.footer__container {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .footer__container {
        text-align: unset;
        padding: 0 20px;
    }
}

.footer__hero {
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 3px;
    color: var(--white);
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .footer__hero {
        text-align: center;
        margin-bottom: 20px;
    }
}

.footer__romb {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

@media (max-width: 992px) {
    .footer__romb {
        margin-bottom: 40px;
    }
}

.footer__romb-red {
    width: 10px;
    height: 10px;
    background-color: var(--red);
    transform: rotate(45deg);
    margin-right: 30px;
}

.footer__romb-red:last-child {
    margin-right: unset;
}

.form__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .form__flex:last-child {
        display: block;
    }
}

.form__input {
    height: 47px;
    width: 48%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 25px;
    color: var(--white);
    background: transparent;
    border: 1px solid #898989;
    transition: border .3s ease-in-out, color .3s ease-in-out;
}

@media (max-width: 768px) {
    .form__input {
        height: 40px;
    }
}

.form__input::placeholder {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

.form__input-w {
    height: 150px;
    width: 80%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0 0 0 25px;
    color: var(--white);
    background: transparent;
    border: 1px solid #898989;
    transition: border .3s ease-in-out, color .3s ease-in-out;
}

.form__input-w::placeholder {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    transform: translateY(-50px);
}

@media (max-width: 768px) {
    .form__input-w {
        font-size: 14px;
        padding: 0 10px 0 25px;
    }
}

.form__input:hover,
.form__input-w:hover {
    border: 1px solid var(--red);
    color: var(--white);
}

.form__input:focus,
.form__input-w:focus {
    border: 1px solid var(--red);
    color: var(--white);
}

.form__input:active,
.form__input-w:active {
    border: 1px solid var(--red);
    color: var(--white);
}

.form__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form__item {
    width: 40px;
    height: 40px;
}

.form__rect,
.form__path {
    transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.form__link:hover .form__rect {
    stroke: var(--red);
}

.form__link:hover .form__path {
    fill: var(--red);
}

.form__link:focus .form__rect {
    stroke: var(--red);
}

.form__link:focus .form__path {
    fill: var(--red);
}

.form__social-svg {
    width: 40px;
    height: 40px;
}

.form__btn {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 10px 20px;
    background: transparent;
    border: unset;
    color: var(--white);
}

@media (max-width: 768px) {
    .form__btn {
        margin-bottom: 30px;
        font-size: 16px;
    }
}

.form__btn::after {
    position: absolute;
    content: '';
    top: -2px;
    left: 0;
    width: 64px;
    height: 100%;
    background-color: var(--red);
    z-index: -1;
    transition: left .3s ease-in-out;
}

.form__btn:hover::after {
    left: 64px;
}

.form__btn:focus::after {
    left: 64px;
}

@media (max-width: 786px) {
    .form__btn::after {
        top: -1px;
        left: 5px;
        width: 50px;
        height: 40px;
    }
    .form__btn:hover::after {
        left: 53px;
    }
}

.form__column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .form__column {
        display: block;
    }
}

.form__row {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .form__row {
        flex-direction: column;
    }
}

.form__descr,
.form__social {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--white);
    transition: color .3s ease-in-out;
}

@media (max-width: 768px) {
    .form__descr,
    .form__social {
        font-size: 14px;
        line-height: 1.5;
    }
}

.form__social:first-child {
    margin-right: 62px;
}

@media (max-width: 768px) {
    .form__social:first-child {
        margin-right: unset;
        margin-bottom: 20px;
    }
}

.form__social:hover {
    color: var(--red);
}

.form__social:focus {
    color: var(--red);
}

.form__path {
    transition: fill .3s ease-in-out;
}

.form__social:hover .form__path {
    fill: var(--red);
}

.form__social:focus .form__path {
    fill: var(--red);
}

.form__descr {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form__svg {
    margin-right: 15px;
}


/* 





*/

.bottom {
    border-top: 1px solid #898989;
}

.bottom__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
}

.bottom__descr {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--white);
    opacity: .5;
}

@media (max-width: 768px) {
    .bottom__descr {
        line-height: 1.4;
    }
}

.bottom__nav {
    width: 44%;
}

@media (max-width: 1200px) {
    .bottom__nav {
        display: none;
    }
}

.bottom__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom__link {
    font-size: 24px;
    letter-spacing: 2px;
    color: var(--white);
    transition: color .3s ease-in-out;
}

.bottom__link:hover {
    color: var(--red);
}

.bottom__link:focus {
    color: var(--red);
}