.header {
    padding-top: 40px;
    margin-bottom: 150px;
}

@media (max-width: 1200px) {
    .header {
        margin-bottom: unset;
    }
}

@media (max-width: 585px) {
    .header {
        padding-top: 10px;
    }
}

@media (max-width: 1200px) {
    .header__menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        width: 290px;
        height: 100%;
        padding-top: 150px;
        padding-left: 40px;
        background-color: rgba(0, 0, 0, .9);
        transform: translateX(600px);
        transition: transform .5s ease-in-out, visibility .5s ease-in-out;
    }
}

.header__list {
    display: flex;
    justify-content: space-between;
    width: 42%;
}

@media (max-width: 1200px) {
    .header__list {
        width: unset;
        flex-direction: column;
    }
    .header__item {
        margin-bottom: 15px;
    }
    .header__item:last-child {
        margin-bottom: unset;
    }
}

.header__link {
    position: relative;
    font-size: 24px;
    letter-spacing: 1px;
    color: var(--white);
    transition: color .3s ease-in-out;
}

.header__link::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: top .3s ease-in-out, right .3s ease-in-out, bottom .3s ease-in-out, left .3s ease-in-out, opacity .3s ease-in-out, outline .3s ease-in-out;
}

.header__link:hover {
    color: var(--red);
}

.header__link:focus {
    color: var(--red);
}

.header__link:focus-visible::after {
    outline: 1px solid var(--red);
    top: -5px;
    right: -10px;
    bottom: -5px;
    left: -10px;
    opacity: 1;
}

.header__link:active::after {
    outline: 1px solid var(--red);
    top: -5px;
    right: -10px;
    bottom: -5px;
    left: -10px;
    opacity: 1;
}

.burger {
    display: none;
    position: absolute;
    top: 70px;
    right: 232px;
    width: 20px;
    height: 30px;
    cursor: pointer;
    z-index: 3;
}

@media (max-width: 1200px) {
    .burger {
        display: block;
    }
    .burger::after {
        position: absolute;
        content: '';
        top: -5px;
        right: -5px;
        left: -5px;
        bottom: 7px;
        transition: outline .3s ease-in-out, opacity .3s ease-in-out;
    }
    .burger:hover::after {
        outline: 2px solid var(--red);
        opacity: 1;
    }
    .burger:focus-visible::after {
        outline: 2px solid var(--red);
        opacity: 1;
    }
    .burger-active {
        position: fixed;
    }
    .burger-active:hover .line1-active {
        background-color: var(--white);
    }
    .burger-active:hover .line3-active {
        background-color: var(--white);
    }
    .burger-active:focus-visible .line1-active {
        background-color: var(--white);
    }
    .burger-active:focus-visible .line3-active {
        background-color: var(--white);
    }
    .burger-active.burger::after {
        outline: unset;
        opacity: 0;
    }
}

.line {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 10px;
    left: 0;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    border-radius: 50px;
    background-color: var(--red);
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.line:last-child {
    margin-bottom: unset;
}

.line1-active {
    position: absolute;
    width: 25px;
    transform: rotate(-45deg);
    transition: transform .5s ease-in-out, width .5s ease-in-out, background-color .3s ease-in-out;
}

.line2-active {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.line3-active {
    position: absolute;
    width: 25px;
    transform: rotate(45deg);
    transition: transform .5s ease-in-out, width .5s ease-in-out, background-color .3s ease-in-out;
}

.header__menu-active {
    visibility: visible;
    transform: unset;
    z-index: 2;
    transition: transform .5s ease-in-out;
}