@font-face {
    font-family: 'Reforma';
    src: local('Reforma Grotesk Medium'), local('Reforma-Grotesk-Medium'), url('../fonts/ReformaGroteskMedium.woff2') format('woff2'), url('../fonts/ReformaGroteskMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

:root {
    --white: #fff;
    --red: #DB3138;
}

html {
    scroll-behavior: smooth;
}

.body {
    font-family: 'Reforma', sans-serif, Arial, Helvetica, sans-serif;
    background-color: #1E1E1E;
    width: 100%;
    min-width: 320px;
}

.container {
    max-width: 1276px;
    padding: 0 40px;
    margin: 0 auto;
}

@media (max-width: 1400px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 900px;
        padding: 0 30px;
    }
}

.bg {
    background-image: url(../img/car-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .bg {
        background-image: url(../img/car-bg2.png);
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    width: 50px;
    height: 50px;
}

.swiper__rect {
    transition: fill .3s ease-in-out;
}

.swiper-button-prev:hover .swiper__rect,
.swiper-button-next:hover .swiper__rect {
    fill: var(--red);
}

.swiper-button-prev:focus .swiper__rect,
.swiper-button-next:focus .swiper__rect {
    fill: var(--red);
}

@media (max-width: 1400px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 60px;
        height: 60px;
    }
    .swiper__rect {
        fill: var(--red);
    }
    .swiper-button-prev:hover .swiper__rect,
    .swiper-button-next:hover .swiper__rect {
        fill: transparent;
    }
    .swiper-button-prev:focus .swiper__rect,
    .swiper-button-next:focus .swiper__rect {
        fill: transparent;
    }
}

@media (max-width: 992px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 40px;
        height: 40px;
    }
}