.painting1 {
    background-image: url(../img/1920/painting1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}

.painting2 {
    background-image: url(../img/1920/painting2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}

.painting3 {
    background-image: url(../img/1920/painting3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}

.painting4 {
    background-image: url(../img/1920/painting4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}

.painting5 {
    background-image: url(../img/1920/painting5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}

.painting6 {
    background-image: url(../img/1920/painting6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}

.painting7 {
    background-image: url(../img/1920/painting7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}

.painting8 {
    background-image: url(../img/1920/painting8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}

.painting9 {
    background-image: url(../img/1920/painting9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}

.painting10 {
    background-image: url(../img/1920/painting10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}

.painting11 {
    background-image: url(../img/1920/painting11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}

.painting12 {
    background-image: url(../img/1920/painting12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 350px;
    height: 350px;
}