@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


/* EVENT */

.event {
    position: relative;
    margin-bottom: 62px;
}

@media (max-width: 1200px) {
    .event {
        margin-bottom: 84px;
    }
}

@media (max-width: 992px) {
    .event {
        margin-bottom: 84px;
    }
}

@media (max-width: 767px) {
    .event {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .event {
        margin-bottom: 30px;
    }
}

.event__hero {
    color: var(--color-dark);
    cursor: default;
    pointer-events: none;
    margin-bottom: 19px;
}

@media (max-width: 1200px) {
    .event__hero {
        margin-bottom: 18px;
    }
}

@media (max-width: 992px) {
    .event__hero {
        margin-bottom: 19px;
    }
}

@media (max-width: 767px) {
    .event__hero {
        margin-bottom: 14px;
    }
}

@media (max-width: 767px) {
    .event__hero {
        margin-bottom: 14px;
    }
}

.event__btns {
    position: relative;
}

@media (max-width: 1200px) {
    .event__btns {
        display: none;
    }
}

.event__btn {
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 50px;
    border: none;
    background: none;
    border-radius: 100px;
    background-color: var(--color-light-gray);
    cursor: pointer;
}

.event__btn-left {
    transition: background-color .2s ease-in-out, outline .2s ease-in-out;
}

.event__btn-right {
    transition: background-color .2s ease-in-out, outline .2s ease-in-out;
}

.sw-btn.swiper-button-disabled.event__btn-right {
    display: none;
    opacity: .3 !important;
    background-color: var(--color-light-gray);
}

.sw-btn.swiper-button-disabled.event__btn-left {
    display: none;
    opacity: .3 !important;
    background-color: var(--color-light-gray);
}

.event__btn-right:hover {
    background-color: var(--color-pink);
}

.event__btn-left:hover {
    background-color: var(--color-pink);
}

.event__btn-left:focus {
    outline: 2px solid var(--color-light-violet);
}

.event__btn-right:focus {
    outline: 2px solid var(--color-light-violet);
}

.event__btn-left:active {
    background-color: var(--color-pink);
    outline: 2px solid var(--color-light-violet)
}

.event__btn-right:active {
    background-color: var(--color-pink);
    outline: 2px solid var(--color-light-violet)
}

.event__btn-left {
    top: 324px;
    left: -1.5%;
    transform: rotate(180deg);
}

.event__btn-right {
    top: 324px;
    right: -1.6%;
}

.event__svg {
    position: absolute;
    top: 16px;
    right: 17px;
}

.event__item:nth-child(-n+3) {
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .event__item:nth-child(-n+3) {
        margin-bottom: 15px;
    }
}

.event__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    padding: 313px 0 42px 49px;
    width: 100%;
    min-height: 699px;
    border: 1px solid var(--color-gray2);
}

@media (max-width: 1366px) {
    .event__item {
        padding: 245px 0 25px 49px;
    }
}

@media (max-width: 1200px) {
    .event__item {
        padding: 245px 0 50px 33px;
        min-height: 684px;
        background-size: 115%;
    }
}

@media (max-width: 1024px) {
    .event__item {
        padding: 215px 0 50px 33px;
    }
}

@media (max-width: 992px) {
    .event__item {
        padding: 185px 0 49px 36px;
        background-size: 105%;
        min-height: 682px;
    }
}

@media (max-width: 768px) {
    .event__item {
        padding: 210px 0 49px 36px;
    }
}

@media (max-width: 767px) {
    .event__item {
        background-size: 100%;
        padding: 210px 0 49px 23px;
        min-height: 683px;
    }
}

@media (max-width: 576px) {
    .event__item {
        padding: 325px 0 49px 23px;
        background-size: auto;
    }
}

@media (max-width: 320px) {
    .event__item {
        padding: 214px 0 50px 23px;
        background-size: 115%;
    }
}

@media (max-width:1200px) {
    .mw-1024 {
        width: 94%;
    }
}

.ei1 {
    background-image: url(../img/1920/developments1.jpg);
}

@media (max-width: 1200px) {
    .ei1 {
        background-image: url(../img/1024/developments1.jpg);
    }
}

.ei2 {
    background-image: url(../img/1920/developments2.jpg);
}

@media (max-width: 1200px) {
    .ei2 {
        background-image: url(../img/1024/developments2.jpg);
    }
}

.ei3 {
    background-image: url(../img/1920/developments3.jpg);
}

@media (max-width: 1200px) {
    .ei3 {
        background-image: url(../img/1024/developments3.jpg);
    }
}

.ei4 {
    background-image: url(../img/1920/developments4.jpg);
}

@media (max-width: 1200px) {
    .ei4 {
        background-image: url(../img/1024/developments4.jpg);
    }
}

.ei5 {
    background-image: url(../img/1920/developments5.jpg);
}

@media (max-width: 1200px) {
    .ei5 {
        background-image: url(../img/1024/developments5.jpg);
    }
}

.event__item-hero,
.event__description {
    color: var(--color-dark);
}

.event__item-p {
    font-size: 12px;
    opacity: .5;
    margin-bottom: 13px;
    font-weight: 600;
    line-height: 1.3;
}

@media (max-width: 1200px) {
    .event__item-p {
        align-self: flex-end;
        text-align: right;
        padding-right: 33px;
        line-height: 1.4;
        font-size: 11.7px;
        margin-bottom: 3px;
    }
}

@media (max-width: 992px) {
    .event__item-p {
        padding-right: 16px;
        padding-top: 3px;
        margin-bottom: 4px;
    }
}

@media (max-width: 767px) {
    .event__item-p {
        padding-right: 5px;
        margin-bottom: 6px;
    }
}

@media (max-width: 767px) {
    .event__item-p {
        font-size: 11.6px;
        padding-right: 17px;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .event__item-p {
        margin-bottom: 9px;
    }
}

.event__item-hero {
    font-size: 24px;
    margin-bottom: 2px;
    font-weight: 600;
    line-height: 1.4;
}

@media (max-width: 1200px) {
    .event__item-hero {
        margin-bottom: 7px;
        line-height: 1.39;
    }
}

@media (max-width: 992px) {
    .event__item-hero {
        width: 93%;
        margin-bottom: 4px;
    }
}

@media (max-width: 767px) {
    .event__item-hero {
        margin-bottom: 35px;
    }
}

@media (max-width: 767px) {
    .event__item-hero {
        margin-bottom: 4px;
    }
}

.event__description {
    flex: 1 1 auto;
    line-height: 2;
}

.invisible {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}

.event__link {
    position: relative;
    color: var(--color-light-violet);
    padding-bottom: 3px;
    font-weight: 400;
    border-bottom: 1px solid var(--color-light-violet);
    transition: color .2s ease-in-out, border-bottom .2s ease-in-out;
}

.event__link::before {
    content: '';
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    background-color: var(--color-light-violet);
    z-index: -1;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.event__link:focus-visible::before {
    opacity: 1;
}

.event__link:hover {
    color: var(--color-violet);
    border-bottom: 1px solid var(--color-violet);
}

.event__link:focus {
    outline: none;
    border-bottom: 1px solid var(--color-white);
    color: var(--color-white);
}

.event__link:focus:hover {
    color: var(--color-violet);
    border-bottom: 1px solid var(--color-violet);
}

.event__link:focus:hover::before {
    opacity: 0;
}

.event__link:focus:hover:active {
    color: var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.event__link:active {
    color: var(--color-black);
    border-bottom: 1px solid var(--color-black);
    background-color: unset;
}

.event__link:active::before {
    opacity: 0;
}

.event__btn-shift {
    display: none;
    text-align: center;
}

@media (max-width: 767px) {
    .event__btn-shift {
        display: block;
    }
}


/* Pagitation */

.event__slide {
    position: relative;
}

.swiper-pagination-event {
    display: none;
}

@media (max-width: 1200px) {
    .swiper-pagination-event {
        display: block;
        text-align: center;
    }
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-right: 8px !important;
    background-color: var(--color-hard-gray);
}


/* /
/
/
/
/
/
/
/
/
/
/
/
 */

.ed1 {
    width: 86%;
}

.ed2,
.ed3 {
    width: 94%;
}

@media (max-width: 1200px) {
    .ed1,
    .ed2 {
        width: 87%;
    }
}

.eih1 {
    width: 89%;
    margin-bottom: 7px;
}

@media (max-width: 1200px) {
    .eih1 {
        margin-bottom: 2px;
    }
}

@media (max-width: 992px) {
    .eih1 {
        width: 81%;
        margin-bottom: 4px;
    }
}

.eih2 {
    margin-bottom: 9px;
}

@media (max-width: 1200px) {
    .eih2 {
        margin-bottom: 4px;
    }
}