@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


/* GALLERY */

.gallery__container {
    position: relative;
    background-image: url(../img/1920/gallery-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 87px;
    padding-bottom: 45px;
    margin-bottom: 87px;
}

@media (max-width: 1200px) {
    .gallery__container {
        padding-bottom: 75px;
    }
}

@media (max-width: 992px) {
    .gallery__container {
        padding-top: 87px;
        padding-bottom: 77px;
    }
}

@media (max-width: 767px) {
    .gallery__container {
        padding-bottom: unset;
    }
}

@media (max-width: 767px) {
    .gallery__container {
        padding-top: 54px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .gallery__container {
        margin-bottom: 54px;
    }
}

.gallery__all {
    display: flex;
}

@media (max-width: 992px) {
    .gallery__all {
        flex-direction: column;
    }
}

.gallery__filter-column {
    margin-bottom: 184px;
}

@media (max-width: 1600px) {
    .gallery__filter-column {
        margin-bottom: 134px;
    }
}

@media (max-width: 1200px) {
    .gallery__filter-column {
        margin-bottom: unset;
    }
}

@media (max-width: 992px) {
    .gallery__filter-column {
        margin-bottom: 48px;
    }
}

@media (max-width: 767px) {
    .gallery__filter-column {
        margin-bottom: 38px;
    }
}

.gallery__filter {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
}

@media (max-width: 1200px) {
    .gallery__filter {
        width: 40%;
        margin-right: 42px;
    }
}

@media (max-width: 992px) {
    .gallery__filter {
        width: 48.3%;
        margin-right: 0;
        display: block;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .gallery__filter {
        width: 100%;
        margin-bottom: 22px;
    }
}

.gallery__hero {
    color: var(--color-white);
    cursor: default;
    pointer-events: none;
    margin-bottom: 27px;
}

@media (max-width: 1200px) {
    .gallery__hero {
        margin-bottom: 27px;
    }
}

@media (max-width: 767px) {
    .gallery__hero {
        margin-bottom: 21px;
    }
}

.gallery__hero-filter {
    color: var(--color-white);
    margin-bottom: 15px;
    font-size: 16.5px;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .gallery__hero-filter {
        margin-bottom: 16px;
    }
}

@media (max-width: 767px) {
    .gallery__hero-filter {
        margin-bottom: 11px;
    }
}

.gallery__select {
    margin-bottom: 560px;
}

.choices {
    width: 100%;
    background: transparent;
    transition: background-color .2s ease-in-out;
    border-radius: 6px;
}

.choices:hover {
    background-color: rgba(255, 255, 255, .2);
}

.choices:focus {
    outline: none;
}

.choices:focus-visible {
    background-color: rgba(255, 255, 255, .2);
}

@media (max-width: 1200px) {
    .choices {
        width: 97%;
    }
}

@media (max-width: 992px) {
    .choices {
        width: 87%;
    }
}

@media (max-width: 767px) {
    .choices {
        width: 100%;
    }
}

.choices__inner {
    position: relative;
    font-size: 16px;
    width: 100%;
    padding: 4px 8.5px 3px;
    min-height: unset;
    background: none;
    border-radius: 6px;
    color: var(--color-white);
}

.choices__list {
    background: none;
}

.choices__list--dropdown {
    border: 1px solid var(--color-gray3);
    border-radius: 6px;
}

@media (max-width: 1200px) {
    .choices__list--dropdown {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .choices__list--dropdown {
        background-color: rgba(0, 0, 0, 0.9);
    }
}

.choices__list--dropdown .choices__item--selectable {
    transition: background-color .2s ease-in-out, outline .2s ease-in-out;
    color: var(--color-white);
}

.choices__placeholder {
    opacity: unset;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 6px;
}

@media (max-width: 992px) {
    .choices[data-type*=select-one] .choices__inner {
        padding-bottom: 7px;
    }
}

.choices[data-type*=select-one]:after {
    content: '';
    position: absolute;
    border: 0;
    background-image: url(../img/1920/arrow.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    right: 11px;
}

@media (max-width: 767px) {
    .choices[data-type*=select-one]:after {
        top: 54%;
    }
}

.choices[data-type*=select-one].is-open:after {
    content: '';
    position: absolute;
    border: 0;
    background-image: url(../img/1920/arrow-t.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 15px;
}

.is-open .choices__inner {
    border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:not(:last-child) {
    outline: 1px solid var(--color-gray3);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:not(:first-child) {
    outline: 1px solid var(--color-gray3);
}

.choices__list--single {
    padding: 5px 16px 4px 7px;
}

@media (max-width: 1200px) {
    .choices__list--single {
        padding: 6px 16px 3px 7px;
    }
}

@media (max-width: 992px) {
    .choices__list--single {
        padding: 5px 16px 2px 7px;
    }
}

@media (max-width: 767px) {
    .choices__list--single {
        padding: 5px 16px 3px 7px;
    }
}

.is-selected {
    display: none;
}

.gallery__form {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}

.gallery__form-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 82px;
    padding: 0;
    margin-bottom: 41px;
}

@media (max-width: 1200px) {
    .gallery__form-list {
        margin-bottom: 46px;
    }
}

@media (Max-width: 992px) {
    .gallery__form-list {
        margin-bottom: 2px;
    }
}

@media (max-width: 992px) {
    .gallery__form-item {
        margin-bottom: 14px;
        width: 102%;
    }
}

@media (max-width: 767px) {
    .gallery__form-item {
        margin-bottom: 13px;
    }
}

.checkbox {
    outline: none;
    margin-right: 7px;
}

.gallery__btn-collage {
    padding-top: 19px;
    width: 71.9%;
    display: flex;
    flex-direction: column;
}


/* @media (max-width: 1600px) {
    .gallery__btn-collage {
        width: 60%;
    }
} */

@media (max-width: 1200px) {
    .gallery__btn-collage {
        width: 64.3%;
        padding-top: 20px;
    }
}

@media (max-width: 992px) {
    .gallery__btn-collage {
        width: 100%;
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    .gallery__btn-collage {
        width: 52%;
        align-self: center;
    }
}

@media (max-width: 767px) {
    .gallery__btn-collage {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .gallery__btn-collage {
        width: 100%;
    }
}

.gallery__btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3px;
    margin-bottom: 29px;
}

@media (max-width: 1200px) {
    .gallery__btns {
        padding-left: 2px;
    }
}

@media (max-width: 992px) {
    .gallery__btns {
        padding-left: 1px;
        margin-bottom: 29px;
    }
}

@media (max-width: 767px) {
    .gallery__btns {
        align-self: center;
    }
}

@media (max-width: 576px) {
    .gallery__btns {
        order: 2;
    }
}

.sw-btn.swiper-button-disabled.gallery__btn-left::before {
    opacity: .3 !important;
}

.sw-btn.swiper-button-disabled.gallery__btn-right::before {
    opacity: .3 !important;
}

.gallery__btn-left {
    transition: background-color .2s ease-in-out, outline .2s ease-in-out;
}

.gallery__btn-right {
    transition: background-color .2s ease-in-out, outline .2s ease-in-out;
}

.sw-btn.swiper-button-disabled.gallery__btn-left:hover {
    background-color: var(--color-hard-gray);
}

.sw-btn.swiper-button-disabled.gallery__btn-right:hover {
    background-color: var(--color-hard-gray);
}

.gallery__btn-left,
.gallery__btn-right {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: none;
    background-color: var(--color-hard-gray);
    cursor: pointer;
}

.gallery__btn-right:hover {
    background-color: var(--color-light-violet);
}

.gallery__btn-left:hover {
    background-color: var(--color-light-violet);
}

.gallery__btn-left:focus {
    outline: 3px solid var(--color-black);
}

.gallery__btn-right:focus {
    outline: 3px solid var(--color-black);
}

.gallery__btn-left:active {
    outline: 3px solid var(--color-black);
}

.gallery__btn-right:active {
    outline: 3px solid var(--color-black);
}

.gallery__btn-left {
    margin-right: 19px;
}

.gallery__collage {
    margin-left: unset;
    margin-right: unset;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: unset;
}

.gallery .gallery__slide {
    position: relative;
    cursor: pointer;
}

@media (max-width: 767px) {
    .gallery .gallery__slide {
        text-align: center;
    }
}

picture {
    transition: background-color .2s ease-in-out;
}

picture:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(A5A9A825-44DE-45C8-8EBD-70ED43DAA3B7.jpg);
}

.gallery__slide {
    transition: outline .2s ease-in-out;
}

.gallery__slide:focus {
    outline-offset: -3px;
    outline: 3px solid var(--color-violet);
}

.gallery .gallery__slide::after {
    content: '';
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    transition: opacity .2s ease-in-out;
}

.gallery__slide:active:after {
    opacity: 1;
}

.gallery__slide:active {
    outline-offset: -3px;
    outline: 3px solid var(--color-pink);
}

.gallery .gallery__slide:before {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/1920/big-search.svg);
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0;
    transition: z-index .2s ease-in-out, opacity .2s ease-in-out;
}

.gallery__slide:hover:before {
    z-index: 1;
    opacity: 1;
}

@media (max-width: 576px) {
    .gallery__slide:first-child {
        order: 2;
    }
}

.gallery__pagination {
    text-align: center;
}

.gallery__pagination {
    margin-right: 19px;
    color: var(--color-white);
}

.sw-btn.swiper-button-disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.gallery__slide-img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    object-position: center;
}

.gallery__wrapper {
    display: none;
}

.gallery__filter-active {
    display: flex;
}

@media screen and (max-width: 992px) {
    .gallery .gallery__container {
        flex-direction: column;
    }
    .gallery__collage {
        max-width: 63%;
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    .gallery__collage {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .gallery__collage {
        margin-bottom: 18px;
    }
}

@media (max-width: 576px) {
    .gallery__collage {
        max-width: 55%;
        order: 1;
    }
}

@media (max-width: 320px) {
    .gallery__collage {
        max-width: 100%;
    }
}

.gallery__card-all {
    position: absolute;
    left: 50%;
}

.gallery__card {
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    top: 5%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-color: var(--color-white);
    max-width: 900px;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    height: 80vh;
}

@media (max-width: 1200px) {
    .gallery__card {
        max-width: 594px;
        max-height: 594px;
    }
}

@media (max-width: 922px) {
    .gallery__card {
        max-width: 668px;
    }
}

@media (max-width: 767px) {
    .gallery__card {
        width: 95%;
    }
}

@media (max-width: 576px) {
    .gallery__card {
        max-width: 290px;
        max-height: 600px;
    }
}

.card-active {
    display: block;
    visibility: hidden;
}

.gallery__closed {
    position: relative;
    cursor: pointer;
}

.card-act {
    visibility: visible;
    opacity: 1;
}

.gallery__closed-line {
    position: absolute;
    width: 21px;
    height: 1px;
    right: 21px;
    top: 28px;
    background-color: var(--color-dark);
}

.line1 {
    transform: rotate(-45deg);
}

.line2 {
    transform: rotate(45deg);
}

.gallery__closed:hover .gallery__closed-line {
    background-color: var(--color-light-violet);
}

.gallery__autor-img {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .gallery__autor-img {
        margin-right: 20px;
    }
}

@media (max-width: 576px) {
    .gallery__autor-img {
        margin-right: unset;
    }
}

.gallery__card-autor {
    display: flex;
    max-height: 500px;
}

@media (max-width: 1200px) {
    .gallery__card-autor {
        max-height: 594px;
    }
}

@media (max-width: 576px) {
    .gallery__card-autor {
        flex-direction: column;
    }
}

.gallery__autor-content {
    padding-top: 120px;
}

@media (max-width: 576px) {
    .gallery__autor-content {
        padding: 20px 0 30px 20px;
    }
}

.c-dark {
    color: var(--color-dark);
}

.gallery__autor-hero {
    font-size: 24px;
    margin-bottom: 3px;
    font-weight: 600;
}

.gallery__autor-title {
    font-weight: 600;
    margin-bottom: 3px;
}

.gallery__autor-date {
    font-size: 12px;
    opacity: .4;
    margin-bottom: 40px;
}

@media (max-width: 576px) {
    .gallery__autor-date {
        margin-bottom: 10px;
    }
}

.gallery__autor-descr {
    line-height: 2;
    width: 92%;
}