@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


/* CONTACTS */

.contacts {
    border-top: 1px solid var(--color-gray2);
    border-bottom: 1px solid var(--color-gray2);
    padding-bottom: 39px;
}

@media (max-width: 1200px) {
    .contacts {
        padding-bottom: 43px;
    }
}

@media (max-width: 768px) {
    .contacts {
        padding-bottom: 42px;
    }
}

@media (max-width: 767px) {
    .contacts {
        border-top: unset;
        border-bottom: unset;
        padding-bottom: 30px;
    }
}

.contacts__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
}

@media (max-width: 1600px) {
    .contacts__container {
        display: block;
    }
    .contacts__hero-descr {
        margin-bottom: 30px;
    }
}

@media (max-width: 1200px) {
    .contacts__container {
        padding-top: 46px;
    }
    .contacts__hero-descr {
        margin-bottom: 37px;
    }
}

@media (max-width: 767px) {
    .contacts__hero-descr {
        margin-bottom: 16px;
    }
}

.contacts__form-hero {
    font-size: 24px;
    color: var(--color-dark);
    font-weight: 600;
    margin-bottom: 11px;
}

@media (max-width: 767px) {
    .contacts__form-hero {
        font-size: 18px;
        margin-bottom: 4px;
    }
}

.contacts__form-description {
    color: var(--color-dark);
}

@media (max-width: 767px) {
    .contacts__form-description {
        font-size: 14px;
    }
}

.contacts__form-input {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 56.8%;
}

@media (max-width: 1600px) {
    .contacts__form-input {
        width: 87%;
        margin-bottom: 30px;
    }
}

@media (max-width: 1200px) {
    .contacts__form-input {
        width: 100%;
        margin-bottom: 33px;
    }
}

@media (max-width: 992px) {
    .contacts__form-input {
        flex-wrap: wrap;
    }
}

@media (max-width: 992px) {
    .contacts__form-input {
        margin-bottom: 35px;
    }
}

@media (max-width: 767px) {
    .contacts__form-input {
        margin-bottom: 27px;
    }
}

.contacts__revers {
    position: relative;
    width: 29.7%;
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

@media (max-width: 1600px) {
    .contacts__revers {
        width: 30%;
    }
}

@media (max-width: 1200px) {
    .contacts__revers {
        width: 29.3%;
    }
}

@media (max-width: 992px) {
    .contacts__revers {
        width: 45%;
        margin-bottom: 15px;
    }
}

@media (max-width: 992px) {
    .contacts__revers {
        width: 48.5%;
        margin-bottom: 13px;
    }
}

@media (max-width: 767px) {
    .contacts__revers {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .contacts__revers {
        margin-bottom: 20px;
    }
}

.js-validate-error-label {
    position: absolute;
    top: -15px;
    font-size: 12px;
    padding-left: 23px;
}

.contacts__input {
    position: relative;
    width: 100%;
    border-radius: 100px;
    padding: 15px 22px;
    cursor: pointer;
    border: 1px solid var(--color-dark);
    transition: background-color .2s ease-in-out;
}

@media (max-width: 767px) {
    .contacts__input {
        padding: 10px 22px;
    }
}

.contacts__input:hover {
    background-color: var(--color-gray4);
}

.contacts__input:focus {
    outline: none;
    background-color: var(--color-gray4);
}

.contacts__btn {
    position: relative;
    font-size: 18px;
    background: none;
    border: none;
    font-weight: 700;
    padding: 13px 34px;
    border-radius: 100px;
    color: var(--color-light-violet);
    outline: 2px solid var(--color-light-violet);
    cursor: pointer;
    transition: background-color .2s ease-in-out, outline .2s ease-in-out, color .2s ease-in-out;
}

@media (max-width: 1200px) {
    .contacts__btn {
        padding: 13px 42px;
    }
}

@media (max-width: 992px) {
    .contacts__btn {
        padding: 13px 60px;
    }
}

@media (max-width: 992px) {
    .contacts__btn {
        padding: 13px 29px;
    }
}

@media (max-width: 767px) {
    .contacts__btn {
        font-size: 12px;
        padding: 12px 35px;
    }
}

.contacts__btn::before {
    content: '';
    position: absolute;
    top: -7px;
    right: -7px;
    bottom: -7px;
    left: -7px;
    opacity: 0;
    outline: 2px solid var(--color-dark-pink);
    border-radius: 100px;
    transition: opacity .2s ease-in-out;
}

.contacts__btn::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    outline: 2px solid var(--color-light-violet);
    border-radius: 100px;
    opacity: 0;
    transition: opacity .2s ease-in-out, outline .2s ease-in-out;
}

.contacts__btn:hover {
    background-color: var(--color-light-violet);
    color: var(--color-white);
}

.contacts__btn:active {
    background: var(--color-violet);
    outline: 3px solid var(--color-pink);
}

.contacts__btn:focus::before {
    opacity: 1;
}

.contacts__btn:focus:hover::before {
    opacity: 0;
}

.contacts__btn:active::before {
    opacity: 0;
}

.contacts__btn:active.contacts__btn::after {
    opacity: 1;
    outline: 2px solid var(--color-pink);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media (max-width: 767px) {
    .contacts__btn-320 {
        display: none;
    }
}

.contacts__link-descr {
    display: flex;
    flex-direction: column;
}

.contacts__link-all {
    display: flex;
}

.contacts__click {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
    padding-top: 4px;
}

@media (max-width: 1600px) {
    .contacts__click {
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    .contacts__click {
        margin-bottom: 7px;
    }
}

@media (max-width: 767px) {
    .contacts__click {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 13px;
    }
}

.contacts__link {
    width: 40px;
    height: 40px;
    transition: opacity .2s ease-in-out, outline .2s ease-in-out;
}

.contacts__link:hover {
    opacity: .4;
}

.contacts__link:focus {
    outline: none;
    opacity: .4;
}

.contacts__link:active {
    opacity: 1;
    outline: 1px solid #9643A4;
    outline-offset: -1px;
    border-radius: 100px;
}

.contacts__link1 {
    margin-right: 20px;
}

@media (max-width: 767px) {
    .contacts__img-size {
        width: 50px;
        height: 50px;
    }
    .contacts__link1 {
        margin-right: 30px;
    }
}

[class*="map"][class*="-ground-pane"] {
    filter: grayscale(1)
}

.ymaps-2-1-79-svg-icon-content {
    background-color: #B51EFF;
    width: 20px !important;
    height: 20px !important;
    border-radius: 100px;
    top: 4px !important;
    left: 3px !important;
}

.map {
    width: 100%;
    height: 700px;
}

@media (max-width: 576px) {
    .map {
        height: 319px;
    }
}