@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-white: #fff;
    --color-dark: #333;
    --color-black: #000;
    --color-gray: #B7B7B7;
    --color-gray2: #CACACA;
    --color-gray3: #999;
    --color-gray4: #EAEAEA;
    --color-hard-gray: #666;
    --color-light-gray: #ECECEC;
    --color-pink: #D1A9F0;
    --color-dark-pink: #C283F3;
    --color-light-violet: #9D5CD0;
    --color-violet: #7943A4;
}

* {
    box-sizing: border-box;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.body {
    position: relative;
    width: 100%;
    font-family: 'open_sans', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.body-bg {
    position: relative;
    width: 100%;
    font-family: 'open_sans', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.body-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
}

.container {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1150px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0;
        max-width: 925px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0 30px;
        max-width: 980px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0;
        max-width: 668px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 15px;
        max-width: 760px;
    }
}


/* HEADER */

.header {
    background-color: var(--color-black);
}

.header__container {
    display: flex;
    padding-top: 29px;
    padding-bottom: 28px;
    align-items: center;
}

@media (max-width: 1200px) {
    .header__container {
        justify-content: space-between;
        padding-top: 27px;
        padding-bottom: 27px;
    }
}

@media (max-width: 768px) {
    .header__container {
        padding-top: 28px;
        padding-bottom: 27px;
    }
    .container-relative {
        position: relative;
    }
}

@media (max-width: 576px) {
    .header__container {
        padding-top: 11px;
        padding-bottom: 10px;
    }
}

.header__burger {
    display: none;
}

@media (max-width: 1024px) {
    .header__burger {
        position: relative;
        display: block;
        width: 36px;
        height: 28px;
        cursor: pointer;
    }
}

.burger-none {
    display: none;
}

@media (max-width: 576px) {
    .header__burger {
        width: 19px;
        height: 21px;
    }
}

.header__burger:hover .header__burger-item {
    background-color: var(--color-light-violet);
}

.header__burger:focus {
    outline: none;
}

.header__burger:focus .header__burger-item {
    background-color: var(--color-light-violet);
}

.header__burger:active .header__burger-item {
    background-color: var(--color-violet);
}

.header__btn {
    display: none;
    background: none;
    border: none;
    z-index: 2;
    padding: 0;
    font-size: 0;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .header__btn {
        display: block;
    }
}

.header__btn:focus {
    outline: none;
    transition: fill .2s ease-in-out;
}

.header__btn:hover .header__svg {
    fill: var(--color-light-violet);
}

.header__btn:focus .header__svg {
    fill: var(--color-light-violet);
}

.header__btn:active .header__svg {
    fill: var(--color-violet);
}

.btn-opacity {
    opacity: 0;
}

.header__form {
    background-color: #18171B;
    display: none;
}

@media (max-width: 768px) {
    .header__form {
        background-color: unset;
    }
}

.form-active {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    width: 25%;
    right: 45px;
    z-index: 1;
}

@media (max-width: 768px) {
    .form-active {
        display: block;
        flex-wrap: unset;
        width: unset;
        right: unset;
        width: 100%;
        height: 100%;
        left: 0;
        top: -1px;
        background: var(--color-black);
    }
}

@media (max-width: 576px) {
    .form-active {
        z-index: 1;
        min-height: 75px;
        background: rgba(0, 0, 0, 0.9);
        left: 0;
        top: 5px;
    }
}

.header__form-btn {
    outline: none;
    background: none;
    border: none;
    transition: fill .2s ease-in-out;
    cursor: pointer;
}

.header__svg {
    transition: fill .2s ease-in-out;
}

.header__form-btn:hover .header__svg {
    fill: var(--color-light-violet);
}

.header__form-btn:focus .header__svg {
    fill: var(--color-light-violet);
}

.header__form-btn:active .header__svg {
    fill: var(--color-violet);
}

@media (max-width: 768px) {
    .header__svg-all1 {
        width: 26px;
        height: 26px;
    }
    .header__svg-all2 {
        width: 30px;
        height: 30px;
    }
    .header__form-btn {
        width: 26px;
        position: absolute;
        height: 26px;
        top: 38%;
        left: 7%;
    }
}

@media (max-width: 576px) {
    .header__svg-all1 {
        width: 18px;
        height: 18px;
    }
    .header__svg-all2 {
        width: 19px;
        height: 19px;
    }
    .header__form-btn {
        width: 19px;
        height: 19px;
        top: 47%;
        left: 13%;
    }
}

.header__form-input {
    position: relative;
    z-index: 1;
    top: -8px;
    width: 81%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-white);
    color: var(--color-white);
    cursor: pointer;
    transition: border-bottom .2s ease-in-out;
}

@media (max-width: 768px) {
    .header__form-input {
        position: absolute;
        width: 77%;
        top: 45%;
        left: 13%;
    }
}

@media (max-width: 576px) {
    .header__form-input {
        position: absolute;
        width: 70%;
        left: 17%;
    }
}

@media (max-width: 576px) {
    .header__form-input {
        position: absolute;
        width: 60%;
        left: 22%;
    }
}

.header__form-input:hover {
    border-bottom: 1px solid var(--color-light-violet);
}

.header__form-input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-violet);
}

.input-closed {
    display: none;
    position: absolute;
    top: 35%;
    right: 3%;
    cursor: pointer;
    z-index: 1;
    background: unset;
    border: unset;
}

.input-clos {
    transition: fill .2s ease-in-out;
}

@media (max-width: 768px) {
    .input-closed {
        display: block;
    }
}

@media (max-width: 576px) {
    .input-closed {
        top: 16%;
    }
    .inpun-svg-closed {
        width: 20px;
        height: 20px;
    }
}

.input-closed:hover .input-clos {
    fill: var(--color-light-violet);
}

.input-closed:focus {
    outline: none;
}

.input-closed:focus .input-clos {
    fill: var(--color-light-violet);
}

.input-closed:active .input-clos {
    fill: var(--color-violet);
}

.header__burger-item {
    height: 3.65px;
    background-color: var(--color-white);
    transition: background-color .2s ease-in-out;
}

@media (max-width: 576px) {
    .header__burger-item {
        height: 1.85px;
    }
}

.header__burger-item:not(:last-child) {
    margin-bottom: 8.5px;
}

@media (max-width: 576px) {
    .header__burger-item:not(:last-child) {
        margin-bottom: 6.5px;
    }
}

.burger1 {
    width: 36px;
}

@media (max-width: 576px) {
    .burger1 {
        width: 25px;
    }
}

.burger2 {
    width: 28px;
}

@media (max-width: 576px) {
    .burger2 {
        width: 16px;
    }
}

.burger3 {
    width: 24px;
}

@media (max-width: 576px) {
    .burger3 {
        width: 10px;
    }
}

.header__link {
    margin-right: auto;
    width: 25%;
}

.link-none {
    display: none;
}

@media (max-width: 1024px) {
    .logo-svg {
        transition: background-color .2s ease-in-out;
        width: 96.4%;
    }
}

@media (max-width: 768px) {
    .logo-svg {
        width: 95%;
    }
}

@media (max-width: 576px) {
    .logo-svg {
        width: 99%;
    }
}

@media (max-width: 1024px) {
    .header__link {
        width: 21%;
        margin-right: unset;
    }
}

@media (max-width: 768px) {
    .header__link {
        width: 29%;
    }
}

@media (max-width: 576px) {
    .header__link {
        width: 33%;
    }
}

.header__link:focus {
    outline: none
}

.header__link:focus .logo-svg {
    background-color: var(--color-violet);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    width: 89%;
}

@media (max-width: 1024px) {
    .header__nav {
        width: unset;
        margin-right: unset;
    }
}

.header__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 60.5%;
}

@media (max-width: 1600px) {
    .header__list {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .header__nav {
        display: none;
    }
    .nav-active {
        display: block;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        padding-top: 120px;
        padding-left: 46px;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .9;
    }
    .header__list {
        width: 100%;
        min-height: 425px;
        margin-bottom: 110px;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .nav-active {
        padding-top: 50px;
        padding-left: 15px;
    }
    .header__list {
        margin-bottom: 20px;
    }
}

@media (max-width: 320px) {
    .nav-active {
        min-height: 354px;
    }
    .header__list {
        min-height: 215px;
    }
}

.burger-open {
    display: none;
}

.burger-closed {
    display: none;
}

@media (max-width: 1024px) {
    .burger-closed {
        display: block;
        position: absolute;
        top: 30px;
        left: 65px;
        cursor: pointer;
    }
    .burger-one {
        position: absolute;
        width: 4px;
        height: 40px;
        background-color: var(--color-white);
        transform: rotate(45deg);
    }
    .burger-two {
        position: absolute;
        width: 4px;
        height: 40px;
        background-color: var(--color-white);
        transform: rotate(-45deg);
    }
}

.burger-closed:hover .burger-one {
    background-color: var(--color-violet);
}

.burger-closed:hover .burger-two {
    background-color: var(--color-violet);
}

.burger-closed:focus {
    outline: none;
}

.burger-closed:focus .burger-clos {
    background-color: var(--color-violet);
}

@media (max-width: 576px) {
    .burger-closed {
        top: 8px;
        left: 25px;
    }
    .burger-one {
        width: 2px;
        height: 25px;
    }
    .burger-two {
        width: 2px;
        height: 25px;
    }
}

.header__item-link {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-white);
    position: relative;
    padding: 0;
    background: none;
    background-color: transparent;
    transition: color .2s ease-in-out;
    border: none;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 1024px) {
    .header__item-link {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .header__item-link {
        font-size: 18px;
    }
}

.header__item-link:hover {
    color: var(--color-dark-pink);
}

.header__item-link:focus {
    outline: none;
}

.header__item-link::before {
    content: '';
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
    background-color: var(--color-violet);
    z-index: -1;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.header__item-link:focus-visible:not(:hover)::before {
    opacity: 1;
}

.header__item-link:hover:not(:focus-visible) {
    color: var(--color-dark-pink);
}

.header__item-link:active:not(:focus-visible) {
    color: var(--color-violet);
}

.header__login {
    font-size: 17.5px;
    font-weight: 300;
    background: none;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.header__login:hover {
    color: var(--color-dark-pink);
}

.login-svg {
    transition: fill .2s ease-in-out;
}

.header__login:hover .login-svg {
    fill: var(--color-dark-pink);
}

.header__login:focus {
    outline: none;
    background-color: var(--color-violet);
}

.header__login:active {
    background-color: unset;
    color: var(--color-light-violet);
}

.header__login:active .login-svg {
    fill: var(--color-light-violet);
}

.login-active {
    color: var(--color-violet);
}

.login-active .login-svg {
    fill: var(--color-violet);
}

.login-active:focus {
    display: none;
}

.header__login:focus:hover {
    background-color: unset;
}

@media (max-width: 1024px) {
    .header__login {
        position: relative;
        padding: 17px 95px;
        border: 2px solid var(--color-violet);
        border-radius: 100px;
        font-weight: 600;
    }
    .header__login:hover {
        background-color: var(--color-violet);
    }
    .header__login::before {
        content: '';
        position: absolute;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
        border-radius: 100px;
        opacity: 0;
        outline: 1px solid var(--color-dark-pink);
        transition: opacity .2s ease-in-out, outline .2s ease-in-out;
    }
    .header__login:focus {
        background-color: unset;
    }
    .header__login:focus::before {
        opacity: 1;
    }
    .header__login:focus:hover {
        background-color: var(--color-violet);
    }
}

@media (max-width: 576px) {
    .header__login {
        padding: 13px 48px;
        font-weight: 600;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .header__login {
        padding: 13px 41px;
        font-weight: 600;
        font-size: 12px;
    }
}


/* //////////////////////////////////// */

.hero {
    font-size: 48px;
    font-weight: 400;
}

@media (max-width: 576px) {
    .hero {
        font-size: 28px;
    }
}


/* //////////////////////////////////// */


/* /
/
/
/
/
/
/
/
/
/
/
/
*/


/* ABOUT-US */

.about-us {
    padding-top: 86px;
    color: var(--color-dark);
}

@media (max-width: 1200px) {
    .about-us {
        padding-top: 85px;
    }
}

@media (max-width: 992px) {
    .about-us {
        padding-top: 86px;
    }
}

@media (max-width: 576px) {
    .about-us {
        padding-top: 20px;
    }
}

@media (max-width: 767px) {
    .about-us {
        padding-top: 53px;
    }
}

.about-us__hero {
    margin-bottom: 20px;
    color: var(--color-dark);
    cursor: default;
    pointer-events: none;
}

@media (max-width: 1200px) {
    .about-us__hero {
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .about-us__hero {
        margin-bottom: 19px;
    }
}

@media (max-width: 767px) {
    .about-us__hero {
        margin-bottom: 14px;
    }
}

.about-us__description {
    margin: 0;
    width: 67.5%;
    line-height: 2;
    padding-bottom: 70px;
}

@media (max-width: 1200px) {
    .about-us__description {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .about-us__description {
        padding-bottom: 69px;
    }
}

@media (max-width: 767px) {
    .about-us__description {
        font-size: 14px;
        padding-bottom: 41px;
    }
}


/* /
/
/
/
/
/
/
/
/
/
/
/
*/


/* FOOTER */

.footer {
    background-color: var(--color-black);
    min-height: 140px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
}

@media (max-width: 1200px) {
    .footer__container {
        padding-top: 40px;
    }
}

@media (max-width: 767px) {
    .footer__container {
        padding-top: 20px;
        flex-direction: column-reverse;
        text-align: center;
    }
}

.footer__link {
    padding-top: 3px;
}

@media (Max-width: 1200px) {
    .footer__link {
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .footer__link {
        padding-top: 20px;
    }
}

.footer__img {
    transition: background-color .2s ease-in-out;
}

.footer__link:focus {
    outline: none
}

.footer__link:focus .footer__img {
    background-color: var(--color-violet);
}

@media (max-width: 992px) {
    .footer__img {
        padding-left: 2px;
    }
}

@media (max-width: 767px) {
    .footer__img {
        padding-left: 0;
        width: 33%;
    }
}

.footer__list {
    display: flex;
    justify-content: space-between;
    width: 11%;
}

@media (max-width: 1366px) {
    .footer__list {
        width: 14%;
    }
}

@media (max-width: 1200px) {
    .footer__list {
        width: 20%;
    }
}

@media (max-width: 1024px) {
    .footer__list {
        width: 26%;
    }
}

@media (max-width: 992px) {
    .footer__list {
        width: 28%;
    }
}

@media (max-width: 768px) {
    .footer__list {
        width: 36%;
    }
}

@media (max-width: 767px) {
    .footer__list {
        width: 35%;
        align-self: center;
    }
}

@media (max-width: 576px) {
    .footer__list {
        width: 73%;
    }
}

.footer__item-link {
    outline: none;
    width: 45px;
    height: 45px;
}

@media (max-width: 1200px) {
    .footer__item-link {
        width: 61px;
        height: 63px;
    }
}

@media (max-width: 992px) {
    .footer__item-link {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 767px) {
    .footer__item-link {
        width: 50px;
        height: 50px;
    }
}

.fill-svg {
    transition: fill .2s ease-in-out;
}

.footer__item-link:hover .fill-svg {
    fill: var(--color-white);
}

.footer__item-link:focus .fill-svg {
    fill: var(--color-white)
}

.footer__item-link:active .fill-svg {
    fill: var(--color-light-violet);
}

@media (max-width: 1200px) {
    .footer__svg {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 767px) {
    .footer__svg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 767px) {
    .footer__svg {
        width: 50px;
        height: 50px;
    }
}