.container1 {
    max-width: 1300px;
    margin: 0 auto;
}

.sale-bg {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sale-bg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
}

.sale-abs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
}

.sale__swiper {
    margin-bottom: 50px;
}

.sale__container {
    background-image: url(../img/timer-bg.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

.sale__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sale__form {
    text-align: center;
    border: 9px solid var(--yellow);
    background: var(--white);
    height: 480px;
    margin-top: 50px;
    margin: 50px 0 0 110px;
}

.sale__hero-timer {
    padding: 30px 90px;
    background: var(--violet);
    margin-bottom: 25px;
}


.sale__hero {
    font-size: 26px;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 10px;
}


.sale__timer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sale__timer-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sale__timer-number, .sale__timer-span {
    font-size: 50px;
    font-weight: 700;
    color: var(--white);
}

#minutes, #seconds, .sale__timer-span-yellow {
    color: var(--yellow);
}

.sale__timer-descr {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}


.sale__send {
    padding: 0 70px;
    margin-bottom: 40px;
}

.sale__send-all {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sale__send-all:first-child {
    margin-bottom: 15px;
}

.input__label {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 8px;

}

.sale__input {
    border: 1px solid var(--black);
    border-radius: 20px;
    height: 40px;
    padding-left: 15px;
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
}

.sale__input:hover {
    border: 1px solid #5a326233;
}

.sale__input:focus {
    border: 1px solid #5a326233;
}



.sale__img {
    position: relative;
}

.sale__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 58%;
    position: absolute;
    top: 20%;
    right: 83%;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}


.sale__price-next {
    position: relative;
    background-image: url(../img/redCard.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 20px;
    margin-bottom: 10px;
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-duration: 2s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-animation-duration: 2s;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}




.sale__red-descr {
    font-size: 30px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 5px;
}

.sale__red-hero {
    font-size: 60px;
    font-weight: 700;
    color: var(--white);
}

.sale__price-prev {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 25px;
    font-weight: 400;
    text-decoration: line-through;
    color: var(--violet);
    opacity: .6;
    padding-left: 60px;
}

.sale__alert {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: var(--violet);
    border: 9px solid var(--yellow);
    z-index: 999;
    -webkit-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
    -o-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
    transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
}

.sale__alert-descr {
    font-size: 24px;
    color: var(--white);
    margin-bottom: 15px;
}

.sale__alert-descr:last-child {
    margin-bottom: unset;
}

.sale__alert-active {
    display: block;
    visibility: visible;
    opacity: 1;
}

.close {
    display: block;
    position: absolute;
    top: 15px;
    right: 40px;
    cursor: pointer;
    background: transparent;
    border: unset;
    z-index: 4;
}

.close-active {
    position: fixed;
}

.close-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 10px;
    left: 0;
    width: 20px;
    height: 2px;
    margin-bottom: 5.2px;
    border-radius: 50px;
    background-color: var(--yellow);
    -webkit-transition: opacity .5s ease-in-out, background .5s ease-in-out, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, background .5s ease-in-out, -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out, opacity .5s ease-in-out, background .5s ease-in-out;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out, background .5s ease-in-out;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out, background .5s ease-in-out, -webkit-transform .5s ease-in-out;
    z-index: 4;
}


.close-line:last-child {
    margin-bottom: unset;
}

.close-line1 {
    position: absolute;
    width: 25px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: var(--yellow);
    -webkit-transition: width .5s ease-in-out, background .5s ease-in-out, -webkit-transform .5s ease-in-out;
    transition: width .5s ease-in-out, background .5s ease-in-out, -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out, width .5s ease-in-out, background .5s ease-in-out;
    transition: transform .5s ease-in-out, width .5s ease-in-out, background .5s ease-in-out;
    transition: transform .5s ease-in-out, width .5s ease-in-out, background .5s ease-in-out, -webkit-transform .5s ease-in-out;
}



.close-line2 {
    position: absolute;
    width: 25px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: var(--yellow);
    -webkit-transition: width .5s ease-in-out, background .5s ease-in-out, -webkit-transform .5s ease-in-out;
    transition: width .5s ease-in-out, background .5s ease-in-out, -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out, width .5s ease-in-out, background .5s ease-in-out;
    transition: transform .5s ease-in-out, width .5s ease-in-out, background .5s ease-in-out;
    transition: transform .5s ease-in-out, width .5s ease-in-out, background .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.close:hover .close-line1 {
    background: var(--white);
}

.close:hover .close-line2 {
    background: var(--white);
}


.close:focus .close-line1 {
    background: var(--white);
}

.close:focus .close-line2 {
    background: var(--white);
}


@media (max-width: 1200px) {
    .sale__container {
        background-size: cover;
    }

    .sale__price {
        width: 65%;
        top: 7%;
        right: 54%;
    }

    .sale__timer-img {
        width: 380px;
    }
}


@media (max-width: 992px) {
    .sale {
        margin-bottom: unset;
    }

    .container1 {
        max-width: 850px;
        padding: 0 15px;
    }

    .sale__swiper-img {
        width: 250px;
    }

    .sale__hero-timer {
        padding: 30px 50px;
    }

    .sale__hero {
        font-size: 18px;
    }

    .sale__timer-number, .sale__timer-span {
        font-size: 50px;
    }

    .sale__timer-descr {
        font-size: 14px;
    }

    .input__label {
        font-size: 14px;
    }

    .sale__send {
        padding: 0 20px;
    }

    .sale__send-all:first-child {
        margin-bottom: 20px;
    }

    .sale__flex {
        position: relative;
        display: block;
    }

    .sale__img {
        position: absolute;
        bottom: -18%;
        right: 5%;
    }

    .sale__timer-img {
        width: 230px;
    }

    .sale__price {
        width: 65%;
    }

    .sale__red-descr {
        font-size: 16px;
    }

    .sale__red-hero {
        font-size: 30px;
    }

    .sale__price-prev {
        font-size: 16px;
    }

    .sale__form {
        margin: 0;
    }

    .sale__alert {
        width: 700px;
    }
}



@media (max-width: 768px) {
    .sale__swiper-img {
        width: 190px;
    }

    .sale__timer-img {
        width: 150px;
    }

    .sale__price {
        width: 100%;
        top: -6%;
        right: 4%;
    }

    .sale__alert {
        width: 480px;
    }

    .sale__alert-descr {
        font-size: 18px;
    }
}



@media (max-width: 480px) {

    .sale__alert {
        width: 300px;
        padding: 20px;
    }

    .sale__alert-descr {
        line-height: 1.5;
    }

    .sale__form {
        position: relative;
    }

    .sale__hero-timer {
        padding: 30px 15px;
    }

    .sale__timer-number, .sale__timer-span {
        font-size: 30px;
    }

    .sale__timer-img {
        display: none;
    }

    .sale__img {
        bottom: 9%;
        right: 65%;
    }

    .sale__price-next {
        width: 150px;
    }

    .sale__price-prev {
        padding-left: 215px;
    }

    .sale__swiper {
        margin-bottom: 30px;
    }

    .sale__swiper-img {
        width: 100px;
    }

    .sale__btn {
        width: 76% !important;
        padding: 15px 40px !important;
    }


}

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}