.about {
    padding-top: 30px;
    margin-bottom: 100px;
}

@media (max-width: 1200px) {
    .about {
        margin-bottom: 50px;
    }
}

.about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .about__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.about__hero {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 100px;
}

@media (max-width: 1400px) {
    .about__hero {
        margin-bottom: 135px;
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .about__hero {
        font-size: 16px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .about__hero {
        font-size: 14px;
    }
}

.about__descr {
    line-height: 1.7;
    width: 79%;
    margin-bottom: 25px;
    font-family: var(--montserrat);
    opacity: .7;
}

@media (min-width: 1400px) {
    .about__descr {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    .about__descr {
        line-height: 1.6;
        font-size: 12px;
        width: 83%;
    }
}

@media (max-width: 992px) {
    .about__descr {
        font-size: 12px;
        margin-bottom: 15px;
        width: 83%;
    }
}

@media (max-width: 768px) {
    .about__descr {
        margin-bottom: 15px;
        width: 100%;
    }
}

.about__descr:last-child {
    margin-bottom: unset;
}

@media (max-width: 768px) {
    .about__descr:last-child {
        margin-bottom: 30px;
    }
}

@media (max-width: 1200px) {
    .about__img {
        width: 35%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .about__img {
        width: 100%;
    }
}