.object {
    padding-top: 20px;
    padding-bottom: 30px;
}

.object__container {
    padding-left: 50px;
}

@media (max-width: 480px) {
    .object__container {
        padding-left: unset;
    }
}

.object__hero {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

@media (max-width: 1400px) {
    .object__hero {
        font-size: 14px;
    }
}

.object__descr {
    font-size: 14px;
    margin-bottom: 30px;
    opacity: .5;
    line-height: 1.5;
}

@media (max-width: 1400px) {
    .object__descr {
        font-size: 12px;
    }
}

.object__img {
    width: 100%;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .object__img {
        margin-bottom: 15px;
    }
}

.link {
    text-align: center;
}

.object__link {
    font-size: 18px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}