.footer {
    background-color: var(--black);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.footer__container {
    padding-top: 50px;
    padding-bottom: 39px;
}

.footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer__flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.footer__hero {
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 20px;
}

@media (max-width: 1400px) {
    .footer__hero {
        font-size: 14px;
    }
}

.footer__descr {
    color: var(--white);
    opacity: .5;
    margin-bottom: 20px;
}

@media (max-width: 1400px) {
    .footer__descr {
        font-size: 12px;
    }
}

.footer__link-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__link {
    color: var(--white);
    margin-bottom: 20px;
    opacity: .3;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

@media (max-width: 1400px) {
    .footer__link {
        font-size: 12px;
    }
}

.footer__link:hover {
    opacity: 1;
}

.footer__link:focus {
    opacity: 1;
}

.footer__link:active {
    opacity: 1;
}

.footer__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__nav-item {
    margin-bottom: 20px;
}

.footer__nav-item:last-child {
    margin-bottom: unset;
}

.footer__nav-link {
    color: var(--white);
    opacity: .3;
    margin-bottom: 20px;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

@media (max-width: 1400px) {
    .footer__nav-link {
        font-size: 12px;
    }
}

.footer__nav-link:hover {
    opacity: 1;
}

.footer__nav-link:focus {
    opacity: 1;
}

.footer__nav-link:active {
    opacity: 1;
}

@media (max-width: 768px) {
    .footer__content {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .footer__content {
        width: 100%;
    }
}

.footer__content:nth-child(4n+1),
.footer__content:nth-child(4n+2) {
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .footer__content {
        margin-bottom: 50px;
    }

    .footer__content:last-child {
        margin-bottom: 20px;
    }
}

.footer__form {
    border-bottom: 2px solid var(--white);
}

@media (max-width: 768px) {
    .footer__form {
        width: 200px;
    }
}

.footer__input {
    font-size: 16px;
    color: var(--white);
    background: transparent;
    padding-bottom: 10px;
    padding-right: 30px;
}

@media (max-width: 1400px) {
    .footer__input {
        font-size: 12px;
    }
}

.footer__btn {
    position: relative;
    background: transparent;
    z-index: 1;
}

.footer__btn::after {
    position: absolute;
    content: '';
    z-index: -1;
    top: -5px;
    right: -5px;
    bottom: 0px;
    left: -5px;
    background-color: var(--white);
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.footer__btn:hover::after {
    opacity: 1;
}

.footer__path {
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
}

.footer__btn:hover .footer__path {
    fill: black;
    z-index: 10;
}

.footer__btn:focus::after {
    opacity: 1;
}

.footer__btn:focus .footer__path {
    fill: black;
    z-index: 10;
}

.footer__dop {
    padding: 30px 0 30px 0;
    background: var(--black);
}

.footer__by {
    font-size: 14px;
    color: var(--white);
}

@media (max-width: 1400px) {
    .footer__by {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .footer__by {
        font-size: 8px;
    }
}