.stag__container {
    max-width: 850px;
    margin: 0 auto;
    padding-bottom: 50px;
}

@media (max-width: 1200px) {
    .stag__container {
        padding: 0 20px 50px 20px;
    }
}

.main__stag-hero {
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
}

@media (max-width: 992px) {
    .main__stag-hero {
        text-align: unset;
    }
}

.stag {
    position: relative;
}

.stag__elipse {
    position: absolute;
    left: 47.5%;
}

@media (max-width: 992px) {
    .stag__elipse {
        display: none;
    }
}

.stag__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 30px;
}

@media (max-width: 992px) {
    .stag__flex {
        padding-top: 15px;
    }
}

.stag__right {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

@media (max-width: 992px) {
    .stag__right {
        -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    }
}

.stag__right-mr {
    margin-right: -60px;
    padding-top: 80px;
}

@media (max-width: 992px) {
    .stag__right-mr {
        margin-right: unset;
        padding-top: unset;
    }
}

.stag__content:nth-child(3n) {
    padding-top: 50px;
}

@media (max-width: 992px) {
    .stag__content:nth-child(3n) {
        padding-top: unset;
    }
}

.stag__content:nth-child(4n) {
    padding-top: 60px;
}

@media (max-width: 992px) {
    .stag__content:nth-child(4n) {
        padding-top: unset;
    }
}

.stag__content:last-child {
    padding-top: 70px;
}

@media (max-width: 992px) {
    .stag__content {
        margin-bottom: 30px;
    }

    .stag__content:last-child {
        padding-top: unset;
        margin-bottom: unset;
    }
}

.stag__hero {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

@media (max-width: 992px) {
    .stag__hero {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.stag__hero-pl {
    padding-left: 67px;
}

@media (max-width: 992px) {
    .stag__hero-pl {
        padding-left: unset;
    }
}

.stag__descr {
    width: 302px;
    line-height: 1.5;
    text-align: left;
}

@media (max-width: 992px) {
    .stag__descr {
        width: unset;
        text-align: unset;
    }
}

.stag__t-right {
    text-align: right;
}

@media (max-width: 992px) {
    .stag__t-right {
        text-align: unset;
    }
}